<h1 class="text-center">Router App</h1>
<nav class="d-flex justify-content-center align-items-center">
    <ul class="text-decoration-none">
        <li class="d-inline-block pr-3"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="d-inline-block pr-3"><a routerLink="/lifecycle">Lifecycle</a></li>
        <li class="d-inline-block pr-3"><a routerLink="/likes">Likes</a></li>
        <li class="d-inline-block pr-3"><a routerLink="/person">Person</a></li>
        <li class="d-inline-block pr-3"><a routerLink="/quiz">Quiz</a></li>
        <li class="d-inline-block pr-3"><a routerLink="/signup">SignUp</a></li>
        <li class="d-inline-block"><a routerLink="/test">Test</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>