<!-- <span class="setup"><br>Given Number</span>
    <h1 class="punchline">{{ data }}</h1>
  <button type="button" class="btn btn-success"
          (click)="fnAddNumber()">Add NUmber
  </button>
  <button type="button"
          class="btn btn-danger"
          (click)="deleteNumber()">Clear Number
  </button> -->
<h1 class="text-center">Lifecycle</h1>

<ol>
  <li *ngFor="let movie of moviesArr; trackBy:trackByMethod">
    {{movie.title}}
  </li>
</ol>

<div (click)="myFunction(1,2,3,4,5,6,7)">myFunction called</div>
<button (click)="addVal()">Add</button>
<button (click)="delVal()">Delete</button>